@page "/events/discovery"

<PageTitle>Iv's - Discovery</PageTitle>

<MudContainer Fixed="true" MaxWidth="MaxWidth.Medium">


    <div id="discovery-title"> <span id="discovery-title-1">Discover</span> every <span id="discovery-title-2">moment</span></div>

   <MudGrid Spacing="6" Justify="Justify.Center">
     
   @if (_processing)
   {
      <MudItem xs="12" sm="12" md="12" lg="12">
         <MudSkeleton Height="42px;"/>
         <MudSkeleton Height="42px;"/>
         <MudSkeleton Height="42px;"/>
      </MudItem>
   }
   else
   {
      foreach (var e in _event)
      {
         string eventName = e.eventName.Length > 19 ? e.eventName.Substring(0, 21) + " ..." : e.eventName;
         string address = e.eventAddress.Length > 25 ? e.eventAddress.Substring(0, 25) + " ..." : e.eventAddress;
         
         <MudItem xs="12" sm="12" md="6" lg="3" xl="3" xxl="2">
            <MudCard>
               <MudCardMedia Image="@e.eventImageData" Height="200" />
               <MudCardContent>
                  <br/>
                  <div style="font-size: medium"><b>@eventName</b></div>
                  <br/>
                  <MudIcon Icon="@Icons.Material.Filled.LocationOn" Size="Size.Small" Color="Color.Secondary"/> <span>@address</span>

               </MudCardContent>
               <MudCardActions>
                  <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                  <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
               </MudCardActions>
            </MudCard>
         </MudItem>
      }
   }
   </MudGrid>
</MudContainer>


@code {
   [Inject] IEventService _eventService { get; set; }
   [Inject] NavigationManager? _navigate { get; set; }
   [Inject] ISnackbar? _snackbar { get; set; }
   
    private Transition transition = Transition.Slide;
   private bool _processing { get; set; } = false;
   private IEnumerable<FetchEventDto> _event = new List<FetchEventDto>();

   protected async override void OnInitialized()
   {
      _processing = true;
      var res = await _eventService.FetchEvent();
      _event = res.result.data ?? new List<FetchEventDto>();
      _processing = false;
      StateHasChanged();
   }

}


