<MudDialog Style="width: 300px">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <b>@qrCodeName</b>
        </MudText>
    </TitleContent>
    <DialogContent>
        
        <div style="text-align:center; margin:20px;">
            <MudImage Fluid="true" Src="@qrCodeData" Height="220" Width="220" Alt="" Class="rounded-lg" />
        </div>
           
    </DialogContent>
    <DialogActions>
        
    </DialogActions>

</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }
    [Parameter] public string qrCodeData { get; set; }
    [Parameter] public string qrCodeName { get; set; }
    private void Cancel() { MudDialog.Cancel(); }
}
