@page "/analytics-and-insights"

<title>IV's Analytics & Insights</title>

<div id="site-intro">


    <br />

    <MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

        <span id="site-intro-header">Real Time Monitoring & Data-Driven Tool </span>
        <br /><br />
        <div>
            <div id="site-intro-sub-header"> Powerful data-driven tools that enable users to track performance, uncover trends, and make informed decisions. </div>
        </div>
        <br /><br />
        <MudButton Variant="Variant.Filled" FullWidth="false" Size="Size.Large" Color="Color.Primary" Href="/accounts/signup"><b>Get Started</b></MudButton>

    </MudContainer>
</div>

<MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

    <MudGrid Spacing="7">


        <MudItem sm="12" md="12" lg="6">

            <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineOrientation="TimelineOrientation.Horizontal" Modifiers="true">
                <MudTimelineItem Size="Size.Medium" Color="Color.Primary" Elevation="0">
                    <MudCard Outlined="true" Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.h5" Style="font-family:'Akaya Telivigala'; color:#57375c"><b>Real-Time Data Monitoring</b></MudText>
                            <br />
                            <MudText Typo="Typo.body2" Style="line-height:30px"><b>1.</b> Track ticket sales, registrations, and attendance in real time.</MudText>
                            <MudText Typo="Typo.body2" Style="line-height:30px"><b>2.</b> Monitor check-ins and on-site engagement for a seamless event experience.</MudText>
                            <MudText Typo="Typo.body2" Style="line-height:30px"><b>3.</b> Gain instant updates on event performance with live data feeds.</MudText>

                        </MudCardContent>
                    </MudCard>
                </MudTimelineItem>
            </MudTimeline>

        </MudItem>


        <MudItem sm="12" md="12" lg="6">

            <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineOrientation="TimelineOrientation.Horizontal" Modifiers="true">
                <MudTimelineItem Size="Size.Medium" Color="Color.Primary" Elevation="0">
                    <MudCard Outlined="true" Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.h5" Style="font-family:'Akaya Telivigala'; color:#57375c"><b>Detailed Reports & Trends</b></MudText>
                            <br />
                            <MudText Typo="Typo.body2" Style="line-height:30px"><b>1.</b> Generate reports on ticket sales, revenue, attendee demographics, and engagement metrics.</MudText>
                            <MudText Typo="Typo.body2" Style="line-height:30px"><b>2.</b> Analyze event trends over time to improve planning and execution.</MudText>
                           
                        </MudCardContent>
                    </MudCard>
                </MudTimelineItem>
            </MudTimeline>

        </MudItem>

        <MudItem sm="12" md="12" lg="6">

            <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineOrientation="TimelineOrientation.Horizontal" Modifiers="true">
                <MudTimelineItem Size="Size.Medium" Color="Color.Primary" Elevation="0">
                    <MudCard Outlined="true" Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.h5" Style="font-family:'Akaya Telivigala'; color:#57375c"><b>Attendee Engagement & Behavior Insights</b></MudText>
                            <br />
                            <MudText Typo="Typo.body2" Style="line-height:30px"><b>1.</b> Track attendee interactions with sessions, booths, and networking activities..</MudText>
                            <MudText Typo="Typo.body2" Style="line-height:30px"><b>2.</b> Identify popular event segments and areas needing improvement.</MudText>
                            <MudText Typo="Typo.body2" Style="line-height:30px"><b>3.</b> Use engagement heatmaps to optimize event layouts and content delivery.</MudText>

                        </MudCardContent>
                    </MudCard>
                </MudTimelineItem>
            </MudTimeline>

        </MudItem>


        <MudItem sm="12" md="12" lg="6">

            <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineOrientation="TimelineOrientation.Horizontal" Modifiers="true">
                <MudTimelineItem Size="Size.Medium" Color="Color.Primary" Elevation="0">
                    <MudCard Outlined="true" Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.h5" Style="font-family:'Akaya Telivigala'; color:#57375c"><b>Performance Metrics & Goal Tracking</b></MudText>
                            <br />
                            <MudText Typo="Typo.body2" Style="line-height:30px"><b>1.</b> Set key event goals such as ticket sales targets, attendee engagement levels, and revenue milestones.</MudText>
                            <MudText Typo="Typo.body2" Style="line-height:30px"><b>2.</b> Compare historical event data with current performance for strategic planning.</MudText>
                           
                        </MudCardContent>
                    </MudCard>
                </MudTimelineItem>
            </MudTimeline>

        </MudItem>

      


    </MudGrid>

</MudContainer>




<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<Footer />



@code {

}
