@page "/create-and-organise-events"

<title>IV's Create & Organise Events</title>

<div id="site-intro">
    <br />
    <MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

        <span id="site-intro-header"> Create & Organize Your Events </span>
        <br /><br />
        <div>
            <div id="site-intro-sub-header"> Seamlessly set up and manage events, from ticketing to scheduling and attendee management. </div>
        </div>
        <br /><br />
        <MudButton Variant="Variant.Filled" FullWidth="false" Size="Size.Large" Color="Color.Error" Href="/accounts/signup"><b>Get Started</b></MudButton>

    </MudContainer>
</div>


<br />
<br />
<br />
<br />
<br />

<MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

    <MudPaper Elevation="0" Style="padding: 20px">
        <MudGrid Spacing="10">

            <MudItem xs="12" sm="12" md="12" lg="6" xl="6" xxl="6" Style="align-items: center; justify-content: center; display: flex">
               <div>
                    <MudImage Src="images/backgrounds/publish-event.png" Fluid="true" Alt="Publish event" Elevation="25" Class="rounded-lg" />
               </div>
            </MudItem>


            <MudItem xs="12" sm="12" md="12" lg="6" xl="6" xxl="6">

                <div id="home-title-sub-header">
                    <div id="home-title-one" style="font-weight: 300">  <MudIcon Icon="@Icons.Material.TwoTone.CheckCircle" Color="Color.Success" Size="Size.Small"></MudIcon> Event Creation</div>

                    <div style="text-align: left; font-size: 1rem; font-family: 'General Sans'; line-height: 35px;">
                        <ol style="list-style-type:decimal; padding:20px">
                            <li>Easily create new events with customizable details such as event name, detailed description, location, tags, social links and many more.</li>
                            <li>Set event categories, descriptions, and featured images to attract attendees.</li>
                            <li>Create and manage your dynamic time and date for events.</li>
                            <li>Choose between free or paid events with flexible pricing and ticketing options, associated with respective event time - allowing you to set and manage your ticket sales start and end dates.</li>
                        </ol>
                    </div>
                </div>

            </MudItem>
            
        </MudGrid>
    </MudPaper>


    <br /><br /><br /><br /><br />


    <MudPaper Elevation="0" Style="padding: 20px">
        <MudGrid Spacing="10">

            <MudItem xs="12" sm="12" md="12" lg="6" xl="6" xxl="6" Style="align-items: center; justify-content: center; display: flex">
                <div>
                    <MudImage Src="images/backgrounds/event-panel.png" Fluid="true" Alt="Event Panel" Elevation="25" Class="rounded-lg" />
                </div>
            </MudItem>


            <MudItem xs="12" sm="12" md="12" lg="6" xl="6" xxl="6">

                <div id="home-title-sub-header">
                    <div id="home-title-one" style="font-weight: 300">  <MudIcon Icon="@Icons.Material.TwoTone.CheckCircle" Color="Color.Success" Size="Size.Small"></MudIcon> Event Management</div>

                    <div style="text-align: left; font-size: 1rem; font-family: 'General Sans'; line-height: 35px;">
                        <ol style="list-style-type:decimal; padding:20px">
                            <li>Manage multiple events from a centralized dashboard, which includes all event detials.</li>
                            <li>Enabled RSVP and attendee check-ins for better guest management.</li>
                            <li>Review all event details including descriptions, images, and ticket settings, and share your event links on different social media platform.</li>
                            <li>Track your ticket sales and settlement for your event panel</li>
                        </ol>
                    </div>
                </div>

            </MudItem>

        </MudGrid>
    </MudPaper>

</MudContainer>






<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<Footer />



@code {

}
