


<MudPaper Elevation="0" Style="background-color: #fef8ff; padding: 30px">
    
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid>

            <MudItem xs="12" sm="12" md="12" lg="12">
                <div class="d-none d-md-flex align-center" style="width:100%">
                    <MudImage Src="/images/logos/ivs3.png"  Alt="Ivs Logo" Elevation="0" Height="44"/>
                    <div id="logo-title-footer" class="ml-1"><a href="/home">ivs</a></div>
                </div>
                <hr/>
            </MudItem>

            <MudItem xs="12" sm="12" md="12" lg="12">
                <MudText Typo="Typo.body1"> <b>ivs</b> is an event and ticketing platform for event creators. </MudText>
                <br/>
            </MudItem>

            <MudItem xs="12" sm="12" md="12" lg="6">
                <MudText Typo="Typo.subtitle1" Style="font-weight: bold">Solution</MudText>
                <br/>

                <MudGrid>
                    <MudItem xs="12" sm="12" md="12" lg="6">
                        <MudLink Href="/users-and-accounts" Color="Color.Dark" Typo="Typo.body2"> Users & Accounts </MudLink>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="12" lg="6">
                        <MudLink Href="/create-and-organise-events" Color="Color.Dark" Typo="Typo.body2"> Create/Organise Events </MudLink>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="12" lg="6">
                        <MudLink Href="/analytics-and-insights" Color="Color.Dark" Typo="Typo.body2"> Analytics & Insights </MudLink>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="12" lg="6">
                        <MudLink Href="/payment-processing" Color="Color.Dark" Typo="Typo.body2"> Payment Processing </MudLink>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="12" lg="6">
                        <MudLink Href="/automated-ticketing" Color="Color.Dark" Typo="Typo.body2"> Automated Ticketing</MudLink>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="12" lg="6">
                        <MudLink Href="/sales-and-settlements" Color="Color.Dark" Typo="Typo.body2"> Sales & Settlements </MudLink>
                    </MudItem>
                </MudGrid>
            </MudItem>

            <MudItem xs="12" sm="12" md="12" lg="2">
                <MudText Typo="Typo.subtitle1" Style="font-weight: bold">Learn</MudText>
                <br/>
                <ul id="footer-listing">
                    <li> <MudLink Href="/about-us" Color="Color.Dark" Typo="Typo.body2"> About us </MudLink> </li>
                    <li> <MudLink Href="/how-it-works"  Color="Color.Dark" Typo="Typo.body2"> How it works </MudLink> </li>
                </ul>
            </MudItem>

            <MudItem xs="12" sm="12" md="12" lg="2">
                <MudText Typo="Typo.subtitle1" Style="font-weight: bold">Company</MudText>
                <br/>
                <ul id="footer-listing">
                    <li> <MudLink Href="/privacy-policy" Color="Color.Dark" Typo="Typo.body2"> Privacy Policy </MudLink> </li>
                    <li> <MudLink Href="/terms-and-conditions" Color="Color.Dark" Typo="Typo.body2"> Terms & Conditions </MudLink> </li>
                </ul>

            </MudItem>

            <MudItem xs="12" sm="12" md="12" lg="2">
                <MudText Typo="Typo.subtitle1" Style="font-weight: bold">Contact us</MudText>
                <br />
                <ul id="footer-listing">
                    <li> <MudLink Href="https://www.instagram.com/ivs.social?utm_source=qr&igsh=MXBpODg0bXlrdnN0eg==" Target="_blank" Color="Color.Secondary" Typo="Typo.body2"> <b>@@IVS.SOCIAL</b> </MudLink> </li>
                    <li><MudText Typo="Typo.body2">support@ivs.social</MudText> </li>
                    <li><MudText Typo="Typo.body2">+2347012651219</MudText> </li>
                </ul>
            </MudItem>
        </MudGrid>
    </MudContainer>

</MudPaper>




@code {

}
