@page "/legal-stuff"

<title>IV's Legal Stuff</title>

<div id="site-intro">
    <br />
    <MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

        <span id="site-intro-header"> The Legal Stuff </span>
        <br /><br />
        <div>
            <div id="site-intro-sub-header">
                Take your time and read through the terms & conditions, service agreement, refund policies, and privacy policies.
            </div>
        </div>
        
    </MudContainer>
</div>

<br />
<br />
<br />
<br />
<br />

<MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

    <MudGrid Spacing="5" Style="text-align:center">

        <MudItem xs="6" sm="6" lg="3">
            <MudPaper Style="padding: 20px; border: 1px whitesmoke solid;" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.PunchClock" Color="Color.Dark" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.h6" Style="font-family: 'Akaya Telivigala'; font-weight: 200; color: #55385c">
                    <MudLink Target="_blank" Href="/terms-and-conditions"> Terms & Conditions </MudLink>
                </MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="6" sm="6" lg="3">
            <MudPaper Style="padding: 20px; border: 1px whitesmoke solid;" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.HomeRepairService" Color="Color.Dark" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.h6" Style="font-family: 'Akaya Telivigala'; font-weight: 200; color: #55385c">
                    <MudLink Target="_blank" Href="/service-agreement"> Service Agreement </MudLink>
                </MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="6" sm="6" lg="3">
            <MudPaper Style="padding: 20px; border: 1px whitesmoke solid;" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.Policy" Color="Color.Dark" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.h6" Style="font-family: 'Akaya Telivigala'; font-weight: 200; color: #55385c">
                    <MudLink Target="_blank" Href="/refund-policy"> Refund Policy </MudLink>
                </MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="6" sm="6" lg="3">
            <MudPaper Style="padding: 20px; border: 1px whitesmoke solid;" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.PrivacyTip" Color="Color.Dark" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.h6" Style="font-family: 'Akaya Telivigala'; font-weight: 200; color: #55385c">
                    <MudLink Target="_blank" Href="/privacy-policy"> Privacy Policy </MudLink>
                </MudText>
            </MudPaper>
        </MudItem>

    </MudGrid>


    <br /><br /><br />

</MudContainer>






<br />
<br />
<br />
<br />
<br />


<Footer />



@code {

}
