@page "/privacy-policy"

<title>IV's Privacy Policy</title>


<style>
    #legal-link {
        text-decoration: none;
        text-decoration-color: dimgray;
        cursor: pointer;
        font-size: small;
    }

    html {
        scroll-behavior: smooth;
    }
    
</style>

<div id="legal-site-intro">
    
    <br />
    <br />
    <br />

    <MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

        <div id="site-intro-header" style="text-align:left; background-color: white">Privacy Policy</div>
        <br />
        <div style="color: dimgray; font-size: small">Last update @newDate.ToString("D")</div>
<br/>
        <MudDivider></MudDivider>
    </MudContainer>
</div>

<br />
<br />
<br />
<br />

<MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

   <MudGrid Spacing="10">

       <MudItem sm="12" md="12" lg="4" xl="4" xxl="4">
           <div class="sticky-header">
               <MudTreeView T="string" ReadOnly Style="font-size: small">

                   <MudTreeViewItem Text="Privacy Policy" Expanded="true">

                       <MudLink id="legal-link" Href="/privacy-policy/#introduction"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="1. Introduction - Who we are"/> </MudLink>

                       <MudLink id="legal-link" Href="/privacy-policy/#information-collection"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="2. Collection of Your Information"/> </MudLink>
                       
                       <MudLink id="legal-link" Href="/privacy-policy/#personal-data"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="3. Personal data we collect"/> </MudLink>
                       
                       <MudLink id="legal-link" Href="/privacy-policy/#information-use"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="4. Use of Your Information"/> </MudLink>
                       
                       <MudLink id="legal-link" Href="/privacy-policy/#processing-personal-data">
                           <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="5. Legal Bases for Processing Your Personal Data" Expanded="false">
                               <MudLink id="legal-link" Href="/privacy-policy/#access-rights"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="5.1 Consent and Access Rights"/> </MudLink>
                               <MudLink id="legal-link" Href="/privacy-policy/#other-legal-bases"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="5.2 Other Legal Bases"/> </MudLink>
                               <MudLink id="legal-link" Href="/privacy-policy/#your-rights"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="5.3 Your Rights"/> </MudLink>
                           </MudTreeViewItem>
                       </MudLink>
                       
                       <MudLink id="legal-link" Href="/privacy-policy/#information-disclosure"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="6. Disclosure of Your Information"/> </MudLink>
                       
                       <MudLink id="legal-link" Href="/privacy-policy/#tracking">
                           <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="7. Tracking" Expanded="false">
                               <MudLink id="legal-link" Href="/privacy-policy/#cookies-and-beacons"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="7.1 Cookies and Web Beacons"/> </MudLink>
                               <MudLink id="legal-link" Href="/privacy-policy/#internet-based-collection"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="7.2 Internet-Based Collection"/> </MudLink>
                               <MudLink id="legal-link" Href="/privacy-policy/#web-analytics"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="7.3 Website Analytics"/> </MudLink>
                               <MudLink id="legal-link" Href="/privacy-policy/#third-party-websites"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="7.4 Third-party Websites"/> </MudLink>
                               <MudLink id="legal-link" Href="/privacy-policy/#securing-your-information"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="7.5 Security of Your Information"/> </MudLink>
                               <MudLink id="legal-link" Href="/privacy-policy/#third-party-access"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="7.6 Third Party Access"/> </MudLink>
                           </MudTreeViewItem>
                       </MudLink>
                       
                       <MudLink id="legal-link" Href="/privacy-policy/#protection-principles"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="8. Personal Data Protection Principles"/> </MudLink>
                       
                       <MudLink id="legal-link" Href="/privacy-policy/#change-notification"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="9. Notification of Changes"/> </MudLink>
                       
                       <MudLink id="legal-link" Href="/privacy-policy/#personal-data-transfer"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="10. International Transfer of Personal Data"/> </MudLink>
                       
                       <MudLink id="legal-link" Href="/privacy-policy/#control-features"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="11. Control for Do-not-track Features"/> </MudLink>
                       
                       <MudLink id="legal-link" Href="/privacy-policy/#data-retention"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="12. Data Retention "/> </MudLink>
                       
                   </MudTreeViewItem>
               </MudTreeView>
           </div>
           

       </MudItem>



       <MudItem sm="12" md="12" lg="8" xl="8" xxl="8">
           
            <div style="font-family:'General Sans'; line-height:40px">

                <div id="introduction">

                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">1. Introduction - Who we are</MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <div>
                            <b>IVS SOCIALS.</b> <br/>

                            We are a ticketing and registration platform who offer event booking and ticket sales services dedicated to creating real life communities together through live experiences. 
                            Through our platform <a href="https://www.ivs.social"> ivs.socials </a>, mobile apps and services, we enable people in Nigeria and all over the world to create, discover, share and register for events.
                            The Privacy and Data Protection Policy of IVS SOCIALS applies solely to information collected by this website or its affiliate software programs and applications, except where stated otherwise. 
                            This Privacy and Data Protection Policy explains how we collect, use, disclose, and safeguard your information when you visit our website,  <a href="https://www.ivs.social"> ivs.socials </a>, including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the “Site”) and reaffirms full compliance with the <b>Nigeria Data Protection Act (NDPA), 2023, the Nigeria Data Protection Regulation (NDPR), 2019 and the relevant Data Protection Laws of Countries.</b>

                            <br/>

                            This Privacy and Data Protection Policy will notify you of the following:

                            <ol id="legal-listing">
                                <li>
                                    What information we collect;
                                </li>
                                <li>
                                    With whom it is shared;
                                </li>
                                <li>How it can be corrected;
                                </li>
                                <li>How it is secured;</li>
                                <li>How policy changes will be communicated; and</li>
                                <li>How to address concerns over misuse of personal data.
                                </li>
                            </ol>
                            
                            <br/>

                            Please carefully read this Privacy and Data Protection Policy and seek the requisite legal advice, where necessary. Note that we reserve the right to make changes to this Privacy and Data Protection Policy at any time and for any reason. 
                            You are however entitled to be notified of such change(s), which change(s) shall be communicated by updating the “Last Updated” date of this Privacy and Data Protection Policy and through a pop-up notification on the Site. Any changes or modifications will be effective immediately upon posting the updated Privacy and Data Protection Policy on the Site. 
                            You are required to ensure that the information you provide to us is complete, accurate and up to date.
                            
                        </div>
                    </div>
                </div>
                
                
                <br /><br />
                
                
                <div id="information-collection">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">2. Collection of Your Information</MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        We may collect information about you in a variety of ways including through using forms, email, physical requests, cookies and web tokens. 
                        The information we may collect on the Site includes: Personal Data: Personally identifiable information, such as your name, address, email address, and telephone number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to us when you register with the Site or when you choose to participate in various activities related to the Site such as online, purchase of tickets, resetting up events, and enquiries of any kind etc.

                    </div>
                </div>

                
                <br /><br />
                

                <div id="personal-data">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        3. Personal data we collect
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        PLEASE NOTE that you are under no obligation to provide us with personal information of any kind; however, your refusal to do so may prevent you from using certain features of the Site. 
                        IVS SOCIALS collects data provided by you. The data we collect depends on the information provided by you during registration for an event and purchase of tickets on the IVS SOCIALS website. 
                        You have choices when it comes to the data you share. When we ask you to provide personal or corporate data, you may decline, however, please note that we may not be able to complete your purchase order, in the absence of certain mandatory information. 
                        However, by giving us this information, you agree to this information being collected, used and disclosed as described in this Privacy and Data Protection Policy.

                        <br/>
                        <br/>

                        <ol id="legal-listing">
                            <li>
                                <b>Automatic Information:</b> These are called Automatic Information, otherwise Derivative Data.
                                Such examples of the information we collect and analyse automatically include the Internet protocol (IP) address used to connect your computer to the Internet; login, computer and connection information, such as browser type, version, and time zone setting, browser plug-in types and versions, operating system, and platform; purchase history, which we sometimes aggregate with similar information from other customers to create features like Top Sellers;
                                the full Uniform Resource Locator (URL) click-stream to, though, and from our Web site and application, including date and time; cookie number; businesses you viewed or searched for.
                                We may also use browser data such as cookies, Flash cookies (also known as Flash Local Shared Objects), or similar data on certain parts of our Web site and application for fraud prevention and other purposes.
                                During some visits we may use software tools such as JavaScript to measure and collect session information, including page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page.
                                We may also collect technical information to help us identify your device for fraud prevention and diagnostic purposes.
                                <br/>
                                <br/>
                            </li>
                            <li>
                                <b> Financial Data:</b> PLEASE NOTE that we do not store any financial information, such as data related to your payment method (e.g. valid credit card number, card brand, expiration date).
                                Otherwise, all financial information is stored by our payment processor and you are encouraged to review their privacy policy and contact them directly for responses to your questions.
                                <br/>
                                <br/>
                            </li>
                            <li>
                                <b>Mobile Device Data:</b> Device information, such as your mobile device ID, model, and manufacturer, and information about the location of your device if you access the Site from a mobile device.
                                <br/>
                                <br/>
                            </li>
                            <li>
                                <b>Third-Party Data:</b> Information from third parties, such as personal information or network friends, if you connect your account to the third party and grant the Site permission to access this information.
                                <br/>
                                <br/>
                            </li>
                        </ol>
                        
                    </div>
                </div>
                

                <br /><br />
                

                <div id="information-use">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        4. Use of Your Information
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the Site to:
        
                        <br/>
                        <br/>

                        <ol id="legal-listing">
                            <li>Offer event hosting and ticketing details.</li>
                            <li>Customize event hosting and ticketing plans.</li>
                            <li>Send you emails and correspondence regarding your event or subscription plan.</li>
                            <li>Enable user-to-user communications.</li>
                            <li>Fulfil and manage purchases, orders, payments, and other transactions related to the Site.</li>
                            <li>Generate a personal profile about you to make future visits more personalised.</li>
                            <li>Increase the efficiency and operation of the Site.</li>
                            <li>Monitor and analyze usage and trends to improve your experience with the Site.</li>
                            <li>Notify you of updates to the Site.</li>
                            <li>Offer new products, services, mobile applications, and/or recommendations to you.</li>
                            <li>Perform other business activities as needed.</li>
                            <li>Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.</li>
                            <li>Process payments and refunds.</li>
                            <li>Request feedback and contact you about your use of the Site and our mobile application.</li>
                            <li>Resolve disputes and troubleshoot problems.</li>
                            <li>Respond to product and customer service requests.</li>
                            <li>Send you a newsletter.</li>
                            <li>Solicit support for the Site.</li>
                        </ol>
                        
                    </div>

                </div>



                <br /><br />

                <div id="processing-personal-data">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        5. Legal Bases for Processing Your Personal Data
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        We may process your personal data on one or more lawful grounds, depending on the specific purpose for which we are using your personal data. 
                        Kindly contact us at <b>support@ivs.social</b> if you need further details or clarity about the specific legal ground, we are relying on you to process your personal information where more than one ground has been stated.
                        We will rely on any of the legal bases listed below depending on the processing activities:
                        <br/>
                        <br/>
                        <div id="access-rights">
                            <div>
                                <b>
                                    5.1 Consent and Access Rights
                                </b>
                            </div>

                            <ol id="legal-listing">
                                <li>
                                    We will ask you for your consent in certain processing activities. 
                                    We may obtain your consent using a form or through a tick box exercise. 
                                    Where we obtain your consent, kindly note that you can withdraw your consent at any time, and we will comply by not further processing your personal data.
                                </li>
                                <li>
                                    If we intend to use your data for a purpose which is different from the purpose for which your data was obtained, we will seek your consent prior to the use of your data for that other purpose.
                                </li>
                                <li>
                                    In the event of any merger, acquisition or other arrangement whereby IVS Socials sells or transfers all, or a portion of its business or assets (including in the event of a reorganization, dissolution or liquidation) to third parties, you hereby consent that your personal data held with IVS Socials can be transferred or assigned to third parties who may become the controllers and/or processors of your personal data that was held by IVS Socials prior to such merger, acquisition or other arrangement. 
                                    IVS Socials shall at all times ensure that you are notified when your personal data is intended to be transferred to third parties in the circumstances outlined in this clause.</li>
                                <li>
                                    No consent shall be sought, given or accepted in any circumstance that may engender direct or indirect propagation of atrocities, hate, child rights violation, criminal acts and anti-social conducts.
                                </li>
                                <li>
                                    You may withdraw your consent, in writing, at any time and may request access to your personal information in our possession at. 
                                    We can, however, deny you access to the information where we determine that your request is unreasonable.
                                </li>
                                <li>
                                    You reserve the right to request the modification or amendment of your personal data in our possession.
                                </li>
                                <li>
                                    In all cases of access or modification / amendment of personal information, we shall request sufficient identification to enable us to confirm that you are the owner of the data sought to be accessed or modified / amended.
                                </li>
                                
                            </ol>
                            
                        </div>
                        
                        <br/>
                        
                        <div id="other-legal-bases">
                            <div>
                                <b>
                                    5.2 Other Legal Bases
                                </b>
                            </div>

                            We rely on the following other lawful basis to process your personal data:

                            <ol id="legal-listing">
                                <li>
                                    We may process your personal data in order to fulfil the contract you have entered with us, or we have entered with your company or take pre-contractual steps at your instruction.
                                </li>
                                <li>
                                    We may rely on our legitimate interest to process your personal data to tailor our services to suit your need.
                                </li>
                                <li>
                                    We may process your personal data where the law mandates us to do so.
                                </li>
                                <li>
                                    We may process your personal data to protect your vital interest or another person
                                </li>
                                <li>
                                    We may process your personal data for the performance of a task carried out in the public interest or in the exercise of official authority vested in us
                                </li>
                            </ol>


                            <br>
                            
                            <div id="your-rights">

                                <div>
                                    <b>
                                        5.3 Your Rights
                                    </b>
                                </div>

                                You have rights in relation to the way we handle your personal data. These include the following rights:

                                <br/>

                                <ol id="legal-listing">
                                    <li>
                                        Where the legal basis of our processing is consent, to withdraw that consent at any time;
                                    </li>
                                    <li>
                                        To ask for access to the personal data that we hold;
                                    </li>
                                    <li>
                                        To prevent our use of the personal data for direct marketing purposes;
                                    </li>
                                    <li>
                                        To object to our processing of personal data in limited circumstances; and
                                    </li>
                                    <li>
                                        To ask us to erase personal data without delay:
                                        <br>
                                        <ol id="legal-listing">
                                            <li>
                                                If it is no longer necessary in relation to the purposes for which it was collected or otherwise processed;
                                            </li>
                                            <li>
                                                If the only legal basis of processing is consent and that consent has been withdrawn and there is no other legal basis on which we can process that personal data;
                                            </li>
                                            <li>
                                                If you object to our processing where the legal basis is the pursuit of a legitimate interest, or the public interest and we can show no overriding legitimate grounds or interest; and
                                            </li>
                                            <li>
                                                If the processing is unlawful.
                                            </li>
                                        </ol>
                                    </li>

                                    <li>To ask us to rectify inaccurate data or to complete incomplete data.</li>
                                    <li>To restrict processing in specific circumstances, e.g., where there is a complaint about accuracy.</li>
                                    <li>The right not to be subject to decisions based solely on automated processing, including profiling, except where necessary for entering into, or performing, a contract with IVS Socials; it is based on your explicit consent and is subject to safeguards; or is authorised by law and is also subject to safeguards.</li>
                                    <li>To prevent processing that is likely to cause damage or distress to you or anyone else.</li>
                                    <li>To data portability.</li>
                                    <li>To be notified of a personal data breach which is likely to result in high risk to their rights and freedoms.</li>
                                    <li>To make a complaint to the Nigeria Data Protection Commission or any other regulatory body.</li>
                                    <li>In limited circumstances, receive or ask for their personal data to be transferred to a Third Party (e.g., another company with which the client has dealings) in a structured, commonly used, and machine-readable format.</li>

                                </ol>

                            </div>

                        </div>

                    </div>

                </div>


                <br /><br />

               
                <div id="information-disclosure">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        6. Disclosure of Your Information
                    </MudText>
                    <br />
                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <div>
                            We may share information we have collected about you in certain situations. Your information may be disclosed as follows:
                        </div>

                        <ol id="legal-listing">
                            <li>
                                <b>By Law or to Protect Rights:</b> If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may share your information as permitted, required or mandated by any applicable law, rule, or regulation.
                                This includes exchanging information with other entities for fraud protection and credit risk reduction.
                            </li>
                            <li>
                                <b>Third-Party Service Providers:</b> We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.
                            </li>

                            <li><strong>Marketing Communications:</strong> With your consent, or with an opportunity for you to withdraw consent, we may share your information with third parties for marketing purposes, as permitted by law.</li>
                            <li><strong>Interactions with Other Users:</strong> If you interact with other users of the Site, those users may see your name, profile photo, and descriptions of your activity, including sending invitations to other users, chatting with other users, liking posts, following blogs.</li>
                            <li><strong>Online Postings:</strong> When you post comments, contributions, or other content to the Site, your posts may be viewed by all users and may be publicly distributed outside the Site and our mobile application in perpetuity.</li>
                            <li><strong>Third-Party Advertisers:</strong> We may use third-party advertising companies to serve ads when you visit the Site.
                                These companies may use information about your visits to the Site and other websites that are contained in web cookies in order to provide advertisements about goods and services of interest to you.
                            </li>
                            <li><strong>Affiliates:</strong> We may share your information with our affiliates, in which case we will require those affiliates to honor this Privacy Policy.
                                Affiliates include our parent company and any subsidiaries, joint venture partners, or other companies that we control or that are under common control with us.
                            </li>
                            <li><strong>Business Partners:</strong> We may share your information with our business partners to offer you certain products, services, or promotions.</li>
                            <li><strong>Other Third Parties:</strong> We may share your information with partner platforms, advertisers, and investors for the purpose of conducting general business analysis.
                                We may also share your information with such third parties for marketing purposes, as permitted by law.</li>
                            <li><strong>Sale or Bankruptcy of IVS Socials:</strong> If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another entity, we may transfer your information to the successor entity.
                                If we go out of business or enter bankruptcy, your information would be an asset transferred or acquired by a third party. You acknowledge that such transfers may occur and that the transferee may decline to honor commitments we made in this Privacy Policy.
                                We are not responsible for the actions of third parties with whom you share personal or sensitive data, and we have no authority to manage or control third-party solicitations.
                                If you no longer wish to receive correspondence, emails, or other communications from third parties, you are responsible for contacting the third party directly.</li>


                        </ol>
                        
                    </div>

                </div>
                

                <br /><br />

               
                <div id="tracking">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        7. Tracking
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <div id="cookies-and-beacons">
                            <div>
                                <b>
                                    7.1 Cookies and Web Beacons:
                                </b>
                            </div>

                            <div>
                                We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site to help customize the Site and improve your experience.
                                When you access the IVS Socials site, your personal information is not collected through the use of tracking technology. 
                                Most browsers are set to accept cookies by default. 
                                You can remove or reject cookies, but be aware that such action could affect the availability and functionality of the Site. 
                                You may not decline web beacons. However, they can be rendered ineffective by declining all cookies or by modifying your web browser’s settings to notify you each time a cookie is tendered, permitting you to accept or decline cookies on an individual basis. 
                                For more information on how we use cookies, please refer to our Cookie Policy posted on the Site, which is incorporated into this Privacy Policy. By using the Site, you agree to be bound by our Cookie Policy.
                            </div>
                        </div>

                        <br />

                        <div id="internet-based-collection">
                            <div>
                                <b>
                                    7.2 Internet-Based Collection
                                </b>
                            </div>

                            <div>
                                Additionally, we may use third-party software to serve ads on the site, implement email marketing campaigns, and manage other interactive marketing initiatives for our clients. 
                                This third-party software may use cookies or similar tracking technology to help manage and optimize your online experience with us.
                            </div>
                        </div>


                        <br />

                        <div id="web-analytics">
                            <div>
                                <b>
                                    7.3 Website Analytics:
                                </b>
                            </div>

                            <div>
                                We may also partner with selected third-party vendors, such as Google Analytics, to allow tracking technologies and remarketing services on the Site through the use of first party cookies and third-party cookies, to, among other things, analyze and track users’ use of the Site, determine the popularity of certain content and better understand online activity.
                                By accessing the Site, you consent to the collection and use of your information by these third-party vendors. 
                                You are encouraged to review their privacy policy and contact them directly for responses to your questions. 
                                We do not transfer personal information to these third-party vendors. 
                                However, if you do not want any information to be collected and used by tracking technologies, you can visit the third-party vendor or the Network Advertising Initiative Opt-Out Tool or Digital Advertising Alliance Opt-Out Tool. 
                                You should be aware that getting a new computer, installing a new browser, upgrading an existing browser, or erasing or otherwise altering your browser’s cookies files may also clear certain opt-out cookies, plug-ins, or settings.
                            </div>
                        </div>


                        <br />

                        <div id="third-party-websites">
                            <div>
                                <b>
                                    7.4 Third-party Websites
                                </b>
                            </div>

                            <div>
                                The Site may contain links to third-party websites and applications of interest, including advertisements and external services, that are not affiliated with us. 
                                Once you have used these links to leave the Site, any information you provide to these third parties is not covered by this Privacy Policy, and we cannot guarantee the safety and privacy of your information. 
                                IVS Socials, therefore, makes no warranties or representations, express or implied about the safety of such linked websites, the third parties they are owned and operated by, and the suitability or quality of information contained on them.
                                Before visiting and providing any information to any third-party websites, you should inform yourself of the privacy policies and practices (if any) of the third party responsible for that website, and should take those steps necessary to, in your discretion, protect the privacy of your information. 
                                We are not responsible for the content or privacy and security practices and policies of any third parties, including other sites, services or applications that may be linked to or from the Site.
                            </div>
                        </div>


                        <br />

                        <div id="securing-your-information">
                            <div>
                                <b>
                                    7.5 Security of Your Information
                                </b>
                            </div>

                            <div>
                                We use administrative, technical, and physical security measures to help protect your personal information. 
                                While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse. 
                                Any information disclosed online or electronically is vulnerable to interception and misuse by unauthorized parties.
                            </div>
                        </div>

                        <br />

                        <div id="third-party-access">
                            <div>
                                <b>
                                    7.6 Third Party Access
                                </b>
                            </div>

                            <div>
                                IVS Socials will only share personal information with other companies, entities or individuals in the following limited circumstances:
                            </div>

                            <ol id="legal-listing">
                                <li>
                                    We have your consent.
                                </li>
                                <li>
                                    We provide such information to other professional advisers or other trusted businesses or persons for the purpose of processing personal information on our behalf. 
                                    We require that these parties agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures.
                                </li>
                                <li>
                                    We have a good faith belief that access, use, preservation or disclosure of such information is reasonably necessary to
                                    <ol id="legal-listing">
                                        <li>(i) Satisfy any applicable law, regulation, legal process, or enforceable governmental request.</li>
                                        <li>(ii) Enforce applicable terms of service, including investigation of potential violations thereof.</li>
                                        <li>(iii) Detect, prevent, or otherwise address fraud, security, or technical issues.</li>
                                        <li>(iv) Protect against imminent harm to the rights, property, or safety of IVS Socials, its users, or the public as required or permitted by law.</li>
                                    </ol>
                                </li>

                                <li>
                                    IVS Socials is at all times, responsible for the security and appropriate use of that data as long as it remains with IVS Socials.
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
                
                
                <br /><br />

                
                <div id="protection-principles">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        8. Personal Data Protection Principles
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <div>
                            When we process your personal data, we are guided by the following principles, which require personal data to be:
                        </div>

                        <ol id="legal-listing">
                            <li>Processed lawfully, fairly, in a transparent manner and with respect for the dignity of the human person.</li>
                            <li>
                                Collected only for specified, explicit and legitimate purposes and not further processed in a manner incompatible with those purposes.
                            </li>
                            <li>
                                Adequate, relevant and limited to what is necessary in relation to the purposes for which it is processed.
                            </li>
                            <li>
                                Accurate and where necessary kept up to date.
                            </li>
                            <li>
                                Removed or not kept in a form that permits identification of data subject for longer than is necessary for the purposes for which the personal data is processed.
                            </li>
                            <li>Processed in a manner that ensures its security, using appropriate technical and organizational measures to protect against unauthorised or unlawful processing and against accidental loss, destruction or damage. </li>
                           
                        </ol>
                        
                        <br/>
                        
                        <div>
                            <strong>Policy for Children</strong>
                            We do not knowingly solicit information from or market to children under the age of 18. 
                            If you become aware of any data, we have collected from children under the age of 18, please contact us at <b>support@ivs.social</b>
                        </div>

                    </div>
                </div>

                
                <br /><br />
                

                <div id="change-notification">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        9. Notification of Changes
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <div>
                            We may update this privacy policy to reflect changes to our information practices. 
                            If we make any material changes, we will provide notice on our website and apps, and we may notify you by e-mail address specified in your account, prior to the change becoming effective. 
                            We encourage you to periodically review this page for the latest information on our privacy policy practices. 
                            If you continue to use the services after those changes are in effect, you agree to the revised policy.

                        </div>

                    </div>
                </div>


                <br /><br />

               
                
                <div id="personal-data-transfer">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        10. International Transfer of Personal Data
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <div>
                            We may transfer your personal data outside Nigeria in certain circumstances. 
                            We will always ensure adequate protection of your data in these circumstances. 
                            Whenever we are transferring your personal data outside Nigeria to countries deemed not to have adequate data protection law, we will comply with the appropriate safeguards which the law has provided such as the use of standard contractual clauses, binding corporate rule or other lawful bases provided by the law. 
                            Please contact us if you want further information on the specific mechanism used by us when transferring your personal data out of Nigeria.
                        </div>

                    </div>
                </div>
                
                
                <br /><br />
                
                

                <div id="control-features">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        11. Control for Do-not-track Features
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <div>
                            Account Information You may at any time review or change the information in your account or terminate your account by:
                        </div>

                        <ol id="legal-listing">
                            <li>Logging into your account settings and updating your account</li>
                            <li>Contacting us using the contact information provided below</li>
                        </ol>

                        <div>
                            Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. 
                            However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements. 
                            Emails and Communications If you no longer wish to receive correspondence, emails, or other communications from us, you may opt-out by:
                        </div>

                        <ol id="legal-listing">
                            <li>
                                Noting your preferences at the time you register your account with the Site
                            </li>
                            <li>
                                Logging into your account settings and updating your preferences.
                            </li>
                            <li>
                                Contacting us using the contact information provided below
                            </li>
                        </ol>
                        
                        <div>
                            If you no longer wish to receive correspondence, emails, or other communications from third parties, you are responsible for contacting the third party directly.
                            
                            <br/>
                            
                            Contact us via email <b>support@ivs.social</b>
                        </div>

                    </div>
                </div>


                <br /><br />

               
                <div id="data-retention">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        12. Data Retention
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <div>
                            IVS Socials shall retain and use your Personal Data only as long as is necessary to implement, administer and manage your request and contract with IVS Socials and a maximum of 10 years after the expiration or termination of the contract or as required to comply with legal or regulatory obligations, including under tax and security laws. 
                            At your request, at any time, your Personal Data which is in the custody of IVS Socials may be deleted unless we are required by law to retain such information for a certain period of time so as to comply with our obligations under the law.

                        </div>

                    </div>
                </div>

            </div>
       </MudItem>
   </MudGrid>

</MudContainer>




<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<Footer />



@code {

    DateTime newDate = new DateTime(2025, 4, 8);
}
