@page "/service-agreement"

<title>IV's Ticket Service Agreement</title>


<style>
    #legal-link {
        text-decoration: none;
        text-decoration-color: dimgray;
        cursor: pointer;
        font-size: small;
    }

    html {
        scroll-behavior: smooth;
    }
    
</style>

<div id="legal-site-intro">
    
    <br />
    <br />
    <br />

    <MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

        <div id="site-intro-header" style="text-align:left; background-color: white">Ticket Service Agreement</div>
        <br />
        <div style="color: dimgray; font-size: small">Last update @newDate.ToString("D")</div>
<br/>
        <MudDivider></MudDivider>
    </MudContainer>
</div>

<br />
<br />
<br />
<br />

<MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

   <MudGrid Spacing="10">

       <MudItem sm="12" md="12" lg="4" xl="4" xxl="4">
           <div class="sticky-header">
               <MudTreeView T="string" ReadOnly Style="font-size: small">

                   <MudTreeViewItem Text="Ticket Service Agreement" Expanded="true">

                       <MudLink id="legal-link" Href="/service-agreement/#introduction"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="Introduction"/> </MudLink>

                       <MudLink id="legal-link" Href="/service-agreement/#defination-of-terms"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="1. Definitions and Term"/> </MudLink>

                       <MudLink id="legal-link" Href="/service-agreement/#service-provided"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="2. Services Provided by IVS Socials"></MudTreeViewItem></MudLink>
                       
                       <MudLink id="legal-link" Href="/service-agreement/#event-restrictions"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="3. Event Restrictions"></MudTreeViewItem></MudLink>
                       
                       <MudLink id="legal-link" Href="/service-agreement/#charge-backs"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="4. Chargebacks and Settlements"></MudTreeViewItem></MudLink>
                       
                       <MudLink id="legal-link" Href="/service-agreement/#refunds-and-cancellations"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="5. Refunds and Cancellations"></MudTreeViewItem></MudLink>
                       
                       <MudLink id="legal-link" Href="/service-agreement/#indemnification"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="6. Client Indemnification"></MudTreeViewItem></MudLink>
                       
                       <MudLink id="legal-link" Href="/service-agreement/#ticket-sales"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="7. Advance Ticket Sales"></MudTreeViewItem></MudLink>
                       
                       <MudLink id="legal-link" Href="/service-agreement/#limitation-liability"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="8. Limitation of Liability"></MudTreeViewItem></MudLink>
                       
                       <MudLink id="legal-link" Href="/service-agreement/#disclaimer-warranties"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="9. Platform Use and Disclaimer of Warranties"></MudTreeViewItem></MudLink>
                      
                       <MudLink id="legal-link" Href="/service-agreement/#representations-warranties"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="10. Representations and Warranties"></MudTreeViewItem></MudLink>
                       
                       <MudLink id="legal-link" Href="/service-agreement/#confidentiality"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="11. Confidentiality and Non-Disclosure"></MudTreeViewItem></MudLink>
                       
                       <MudLink id="legal-link" Href="/service-agreement/#termination"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="12. Termination and Remedies"></MudTreeViewItem></MudLink>
                       
                       <MudLink id="legal-link" Href="/service-agreement/#provisions"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="13. Miscellaneous Provisions"></MudTreeViewItem></MudLink>
                      
                       <MudLink id="legal-link" Href="/service-agreement/#governing-law"> <MudTreeViewItem Style="color: dimgray; cursor: pointer" Text="14. Governing Law"></MudTreeViewItem></MudLink>
                      
                   </MudTreeViewItem>
               </MudTreeView>
           </div>
           

       </MudItem>



       <MudItem sm="12" md="12" lg="8" xl="8" xxl="8">
           
            <div style="font-family:'General Sans'; line-height:40px">

                <div id="introduction">

                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">Introduction</MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <div>
                            <p>
                                This Ticket Services Agreement ("Agreement” or “TSA ") shall be a legal and binding agreement between IVS Socials Limited (RC: 8052851) of No 7, Hilary Chimezie Street, Zina Estate, Ado, Ajah, Lagos State (“IVS Socials”), a Limited Liability Company, duly incorporated under the relevant laws of the Federal Republic of Nigeria (which expression shall where the context so admits include its successors-in-title, nominees, legal representatives and assigns) and you (“you” or “the Client”).
                            </p>
                            <br/>
                            <p>
                                The TSA governs the terms and conditions under which you engage IVS Socials to provide services on inventory, sales, and event Ticket management. This Agreement also stipulates the terms and conditions that will govern the sale of Tickets through IVS Socials and any other services that IVS Socials may provide to you. This Agreement incorporates the Terms of Use, Privacy and Data Protection Policy, and Refund Policy of IVS Socials (as amended from time to time).
                            </p>
                            <br/>
                            <p>
                                By engaging IVS Socials, you expressly consent that your access to and use of IVS Social’s services shall be governed by this TSA, including the terms of use, refund policy and privacy and data protection policy (all available on the website). These policies form an integral part of this agreement, and you agree to be bound by all terms and conditions therein which are hereby incorporated by reference.
                            </p>
                        </div>
                    </div>
                </div>
                
                
                <br /><br />
                
                
                <div id="defination-of-terms">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">1. Definitions and Term</MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">
                        <p>
                            <b>“Agreement”</b> - means this Ticket Services Agreement;
                        </p>
                        <br/>
                        
                        <p>
                            <b>“Business Days”</b> - means any day (other than a Saturday, Sunday or public holiday declared by the Federal Government of Nigeria) on which banks in Nigeria are open for ordinary banking business;

                        </p>
                        <br/>
                        
                        <p>
                            <b> “Chargeback”</b> - means the reversal of a transaction or request for repayment in respect of a transaction previously settled and/or remitted that comes from the Issuing Bank, Payment Scheme or other financial institution
                        </p>
                        <br/>

                        <p>
                            <b>“Customer”</b> - means a person who purchases a Ticket to an Event organised by the Client;
                        </p>
                        <br/>
                        
                        <p>
                            <b>“Event”</b> - means any event/activity organised and hosted by the Client;
                        </p><br/>
                        
                        <p><b>“Issuing Bank”</b> - means a financial institution that issues cards under the authority of the relevant Payment Scheme;</p><br/>
                        
                        <p>
                            <b>“Payment Scheme”</b> - means Visa, MasterCard, Verve, American Express and any Affiliates thereof or any other card payment network (including any local schemes thereof) and/or such other schemes governing the issue and use of credit, debit, charge, purchase or any other cards or payment methods.
                        </p><br/>
                        
                        <p>
                            <b> “Services”</b> - means the services to be provided by IVS Socials as described in clause 2 of this Agreement;
                        </p><br/>
                        
                        <p>
                            <b> “Ticket”</b> - means a voucher (whether paper-based, electronic or otherwise) that indicates that a Customer or a holder of the Ticket is entitled to admission to an Event;
                        </p><br/>
                        
                        <p>
                            <b> “Terms of Use”</b> - means the terms and conditions governing the use of the Website; and
                        </p><br/>
                        
                        <p>
                            <b>“Website”</b> - means the IVS Socials website, <a href="https://www.ivs.social">ivs.social</a>
                        </p><br/>
                    
                    
                    <br>
                    
                        <div>
                            <div>
                                <b>
                                    INTERPRETATIONS
                                </b>
                            </div>
                        
                            <p>
                                In this Agreement, unless the context otherwise requires:
                            </p>

                            <ol id="legal-listing">
                                <li>Headings are for convenience only and do not affect the interpretation of this Agreement;</li>
                                <li>Words importing the singular include the plural and vice versa;</li>
                                <li>A reference to a clause, party, or schedule is a reference to a clause, party, or schedule to this Agreement;</li>
                                <li>A reference to a Party in this Agreement or any document issued in connection with this Agreement includes that Party's successors and permitted assigns;</li>
                                <li>A reference to a document or this Agreement includes an amendment or supplement to, or replacement or novation of, that document or this Agreement but disregarding any amendment, supplement, replacement, or novation made in breach of this Agreement;</li>
                                <li>A reference to “it” in respect of a Party to this Agreement also imports the masculine and feminine genders;</li>
                                <li>A reference to a Person shall be construed to include any individual, firm, body corporate (wherever incorporated), government, state or agency of a state or any joint venture, association, partnership, limited partnership, limited liability partnership, works council, or employee representative body (in each case whether or not having separate legal personality).</li>
                            </ol>
                        
                        
                        </div>

                    </div>
                </div>

                
                <br /><br />
                

                <div id="service-provided">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        2. Services Provided by IVS Socials
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        IVS Socials agrees to provide the following services to the Client:

                        <br/>

                        <ol id="legal-listing">
                            <li>
                                <strong>Event Listing:</strong> IVS Socials will list the Client’s events on its platform, ensuring public visibility for Ticket sales. The Client will submit event details, including date, location, Ticket types, and any applicable restrictions.
                                
                            </li>
                            <li>
                                <strong>Ticket Order Processing:</strong> IVS Socials will process Ticket sales on behalf of the Client, handling Customer transactions through a secure payment gateway. All payments are settled in the currency specified during the event setup, and funds are transferred to the Client every week or after the event, subject to any chargebacks or disputes.
                               
                            </li>
                            <li>
                                <strong>Sales Records:</strong> IVS Socials will provide the Client with sales histories and reports for Ticket transactions, including detailed purchaser manifests for each event.
                               
                            </li>
                            <li>
                                <strong>Customer Data Access:</strong> The Client will have access to customer data for the purposes of managing Ticket sales and event logistics, provided that they comply with applicable data protection laws and the terms of this Agreement.
                               
                            </li> 
                            <li>
                                <strong>Support Services:</strong> IVS Socials offers customer support for both event organisers and Ticket purchasers, assisting with any issues that may arise in connection with the listing, sale, or processing of Tickets.
                             
                            </li>
                            <li>
                                <strong>Transaction Processing Fees:</strong> IVS Socials shall charge a non-refundable transaction processing fee (TPF) of 4% gross on each Ticket sold through the platform, inclusive of value-added tax on such percentage, which fee shall be borne by the Event Attendee. The TPF shall be automatically deducted by IVS Socials at the point of purchase of the ticket by the Event Attendee. For this purpose, the Client  expressly consents and warrants that such fees shall be factored in when determining the cost of the event tickets.
                                
                            </li>
                            <li>
                                <strong>Changes to Fees::</strong> IVS Socials reserves the right to adjust its fee structure. In the event of any changes, IVS Socials will notify the Client a minimum of five (5) business days prior to the effective date of the new fee structure. If the Client continues to use the platform after the notice period, it is considered an acceptance of the updated fees.
                               
                            </li>
                            <li>
                                <strong>Additional Service Fees:</strong> Additional fees may apply for supplementary services such as international/local payouts, staffing, equipment rental, or promotional campaigns. IVS Socials will inform the Client of any such fees in advance, and the Client’s usage of these services indicates their agreement to the charges.
                              
                            </li>
                            <li>
                                <strong>Cash Handling Fee:</strong> If IVS Socials is tasked with handling cash during the Event, IVS Socials will be entitled to retain a cash handling fee at a rate agreed upon by the Parties.
                              
                            </li>
                            <li>
                                <strong>No Processing Fee Refunds:</strong> IVS Socials will not refund any Fee charged for processing an original transaction to the Customer if the transaction is refunded or subject to a Dispute.
                               
                            </li>
                        </ol>
                        
                    </div>
                </div>
                

                <br /><br />
                

                <div id="event-restrictions">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        3. Event Restrictions
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <ol id="legal-listing">
                            <li>
                                <strong>Accurate Event information:</strong> The Client must submit complete and accurate event details when listing an event on the IVS Socials platform.
                            </li>
                            <li>
                                <strong>Disclosure of Restrictions:</strong> The Client is responsible for clearly stating any restrictions related to their events at the time of submission. This includes, but is not limited to, age limits, capacity restrictions, or other conditions of admission.
                            </li>
                            <li>
                                <strong>Compliance with Laws:</strong> The Client shall ensure that any restrictions imposed on the event are lawful and in full compliance with all applicable federal, state, and local regulations.
                            </li>
                        </ol>
                        
                    </div>

                </div>



                <br /><br />

                <div id="charge-backs">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        4. Chargebacks and Settlements
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <ol id="legal-listing">
                            <li>
                                <strong>Responsibility for Chargebacks:</strong> The Issuing Bank or Payment Scheme may impose Chargebacks for certain transactions. IVS Socials may debit or deduct the amount of any Chargeback from the Client’s balance, including reversing payments already made to the Client.
                            </li>
                            <li><strong>Client’s Obligation to Pay:</strong> If a Chargeback occurs after settlement, the Client is responsible for paying the amount due within thirty (30) days of being invoiced by IVS Socials. Failure to do so may result in the termination of this Agreement. In the event of a termination of the Agreement under this heading, by failure of Client to pay after chargeback occurs, IVS Socials reserves the right to enforce payment of the fees through legal means.</li>
                            <li><strong>No Investigation Obligation:</strong> IVS Socials is not required to investigate the validity of Chargebacks imposed by the Issuing Bank or Payment Scheme.</li>
                            <li><strong>Reserve Amount:</strong> IVS Socials reserves the right to withhold a reserve of up to 5% of total sales for up to ninety (90) days after the event to settle chargebacks.</li>

                        </ol>
                    </div>

                </div>


                <br /><br />

               
                <div id="refunds-and-cancellations">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                       5. Refunds and Cancellations
                    </MudText>
                    <br />
                    <div style="font-family:'General Sans'; font-size:1.2rem">
                        
                        <ol id="legal-listing">
                            <li><strong>Client Responsibility:</strong> The Client is responsible for issuing any refunds or exchanges directly to customers, including refunds related to event cancellations or postponements.</li>
                            <li><strong>Cancellation Notification:</strong> The Client must notify IVS Socials of any event cancellations at least five (5) Business Days before the scheduled event. Failure to do so may result in penalties or removal from the platform.</li>

                        </ol>
                        
                    </div>

                </div>
                

                <br /><br />

               
                <div id="indemnification">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        6. Client Indemnification
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        The Client agrees to indemnify and hold IVS Socials harmless against all claims, damages, losses, penalties, judgments, or fees arising from:

                        <ol id="legal-listing">
                            <li>The Client’s breach of any representation or warranty made in this Agreement.</li>
                            <li>The negligent or intentional acts or omissions of the Client, their customers, agents, employees, or contractors.</li>
                            <li>Any inaccurate, misleading, or unlawful event information provided by the Client, except where such claims result from IVS Socials' unauthorized actions or negligence.</li>
                            <li>Breach of personal data shared with the Client.</li>
                            <li>Cancellation of any Events.</li>
                        </ol>
                    </div>
                </div>
                
                
                <br /><br />

                
                <div id="ticket-sales">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        7. Advance Ticket Sales

                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">
                        
                        <ol id="legal-listing">
                            <li><strong>7.1</strong> Subject to the Client complying with the necessary criteria as may be determined by IVS Socials on a case-by-case basis, the Client may qualify to sell Tickets in advance of the Event at no cost to the Customers (“Advance Ticket Sales”).</li>
                            <li><strong>7.2</strong> In subscribing to this option, the Client hereby acknowledges, agrees, and grants IVS Socials the right to be the exclusive Ticketing partner of the Event(s).</li>
                            <li><strong>7.3</strong> IVS Socials reserves the right to charge interest on the total number of Advance Ticket Sales made, and the Client agrees to pay that this shall be done within thirty (30) days following the completion of the Event.</li>
                            <li><strong>7.4</strong> Notwithstanding the provisions of clause 7.3 above, IVS Socials shall be entitled to deduct all applicable fees, charges, and expenses from Tickets sold in connection with providing Advance Ticket Sales to Customers of the Client.</li>
                            <li><strong>7.5</strong> Following the settlement of all outstanding fees, charges, and expenses, IVS Socials shall pay out the funds realized from the Event to the Client within thirty (30) days from the completion of the Event.</li>
                        </ol>
                        
                    </div>
                </div>

                
                <br /><br />
                

                <div id="limitation-liability">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        8. Limitation of Liability
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <ol id="legal-listing">
                            <li><strong>Exclusion of Liability:</strong> IVS Socials is not a party to any transactions or disputes between the Client and its customers. IVS Socials excludes any liability for fraudulent transactions by customers, operational disruptions, or external factors beyond its control.</li>
                            <li><strong>Excluded Damages:</strong> IVS Socials will not be liable for any direct, indirect, incidental, consequential, or exemplary damages, including but not limited to:
                                <ol id="legal-listing">
                                    <li>Loss of anticipated profits, sales, revenue, or data.</li>
                                    <li>Business interruption or operational failure.</li>
                                    <li>Any third-party theft, destruction, or unauthorized access to the Client’s data or equipment.</li>
                                </ol>
                            </li>
                            <li><strong>Sole Remedy:</strong> The Client’s sole remedy for dissatisfaction with the platform is to discontinue use of the Website.</li>
                        </ol>
                        
                    </div>
                </div>


                <br /><br />

               
                
                <div id="disclaimer-warranties">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        9. Platform Use and Disclaimer of Warranties
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">
                        <ol id="legal-listing">
                            <li><strong>Use of Platform:</strong> The Client agrees to use the IVS Socials platform solely for legitimate event management and Ticket sales and not for any unlawful, harmful, or unethical purposes.</li>
                            <li><strong>Disclaimer of Warranties:</strong> IVS Socials provides its platform and services on an “as-is” and “as-available” basis without warranties of any kind. IVS Socials does not guarantee the accuracy, reliability, or completeness of any information on the Website and disclaims responsibility for any technical issues, security breaches, or errors.</li>
                        </ol>
                    </div>
                </div>
                
                
                <br /><br />
                
                

                <div id="representations-warranties">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        10. Representations and Warranties
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <div>
                            The Client represents and warrants the following:
                            </div>

                        <ol id="legal-listing">
                            <li><strong>Legal Authority:</strong> The Client has the legal authority to enter into this Agreement, is at least 18 years old, and has full authority to organize, promote, and manage the events listed on the platform.</li>
                            <li><strong>Event Ownership:</strong> The Client is the legitimate owner, producer, or authorized representative of the events listed on the IVS Socials platform and has the right to offer, sell, and honor the Tickets sold.</li>
                            <li><strong>Compliance with Laws:</strong> The Client’s events and activities comply with all applicable federal, state, and local laws, including regulations regarding Ticket sales, data protection, event safety, and consumer protections.</li>
                            <li><strong>Content Standards:</strong> All content provided by the Client for event listings, including text, images, and media, is original, lawful, and does not infringe any intellectual property rights. The Client guarantees that the content does not contain objectionable material or violate the rights of third parties.</li>
                            <li><strong>Acceptable Use:</strong> The Client agrees to use the IVS Socials platform solely for lawful purposes related to Ticket sales and event management. Any misuse or violation of these terms may result in suspension or termination of services.</li>
                        </ol>

                    </div>
                </div>


                <br /><br />

               
                <div id="confidentiality">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                       11. Confidentiality and Non-Disclosure
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <ol id="legal-listing">
                            <li><strong>Confidentiality Obligations:</strong> The Client acknowledges that IVS Socials shares confidential and proprietary information, such as customer data, sales records, and business strategies, in the course of providing services. The Client agrees not to disclose, sell, or distribute any Confidential Information to third parties without IVS Socials’s prior written consent.</li>
                            <li><strong>Permitted Disclosures:</strong> Confidential Information may only be disclosed to legal advisers or required authorities, provided the Client gives IVS Socials prior notice before such disclosure.</li>
                            <li><strong>Survival of Obligation:</strong> The confidentiality obligations under this section will survive the termination of this Agreement.</li>
                        </ol>

                    </div>
                </div>


                <br /><br />


                <div id="termination">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                       12. Termination and Remedies
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <ol id="legal-listing">
                            <li><strong>Immediate Termination:</strong> IVS Socials reserves the right to immediately suspend or terminate services if the Client engages in fraudulent activities, violates laws, or breaches confidentiality obligations.</li>
                            <li><strong>Legal Remedies:</strong> IVS Socials reserves the right to pursue legal remedies for any damages or losses resulting from the Client’s breach of this Agreement, including seeking indemnification and reporting unlawful activities to authorities.</li>
                        </ol>

                    </div>
                </div>



                <br /><br />


                <div id="provisions">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        13. Miscellaneous Provisions
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <ol id="legal-listing">
                            <li><strong>Entire Agreement:</strong> This Agreement constitutes the entire understanding between the parties regarding the subject matter and supersedes all prior discussions, agreements, and representations.</li>
                            <li><strong>Amendments:</strong> IVS Socials may, at its discretion, amend, supplement or vary the terms of this Agreement and impose additional conditions on the provision or use of the Services. We shall provide notice of any modifications or variations through the Dashboard, on the Website, via email or through other reasonable means of communication.</li>
                            <li><strong>Waiver:</strong> No failure to exercise and no delay in exercising on the part of IVS Socials, any right, power or privilege hereunder shall operate as a waiver thereof nor shall any single or partial exercise of any right, power or privilege preclude any other or further exercise thereof or the exercise of any other right, power or privilege. The rights and remedies provided in this Agreement are cumulative and not exclusive of any rights or remedies otherwise provided by law.</li>
                            <li><strong>Severability:</strong> If any provision of this Agreement is found to be invalid or unenforceable, the remainder of the Agreement will remain in effect.</li>
                            <li><strong>Assignment:</strong> The Client shall not either voluntarily, by operation of law, or otherwise assign any of its rights or delegate any of its duties, hypothecate, give, transfer, mortgage, sublet, license, or otherwise transfer or encumber all or part of its rights, duties, or other interests in this agreement or the proceeds thereof without the written consent of IVS Socials.</li>
                            <li><strong>Communication:</strong> Any notice or other communication or correspondence between the Parties under this Agreement may be delivered personally or sent by prepaid post or courier or by facsimile transmission or by electronic mail to the accepted email addresses of the Parties.</li>
                            <li><strong>Independent Contractor:</strong> The Parties acknowledge and agree that IVS Socials shall act as independent contractor, and not as a partner or agent of the Client, in providing the Services detailed in this Agreement. The Client shall not use the logo, branding or any other intellectual property of IVS Socials without the prior written consent of IVS Socials. For the avoidance of doubt, nothing in this Agreement shall be construed as creating any agency, partnership or employment relationship between the Parties.</li>
                        </ol>

                    </div>
                </div>


                <br /><br />


                <div id="governing-law">
                    <MudText Typo="Typo.h4" Style="font-family: 'Akaya Telivigala'; font-weight: 400; color: #55385c">
                        14. Governing Law
                    </MudText>
                    <br />

                    <div style="font-family:'General Sans'; font-size:1.2rem">

                        <ol id="legal-listing">
                            <li> This Agreement is governed by the laws of Nigeria, and any disputes will be resolved in Nigerian courts.</li>
                            <li>If a dispute arises between the Parties in connection with the interpretation, implementation or operation of this Agreement or its subject matter or the validity of any document furnished by the Parties under this Agreement which cannot be resolved amicably by the Parties within a fourteen (14) day period from a formal notice of a dispute by either of the Parties, the Parties and their legal representatives will promptly meet to consider whether there is a possibility of resolution by mediation or conciliation.</li>
                            <li> If the Parties do not agree to refer a dispute to mediation or conciliation, the Parties shall refer the dispute to arbitration in accordance with the Arbitration and Mediation Act 2023.</li>
                            <li> The arbitration shall take place in Lagos, and arbitral proceedings shall be conducted by a single arbitrator appointed by the Parties. Should the Parties fail to agree on an arbitrator within five (5) days after the matter was referred to arbitration, the arbitrator shall be appointed by the President for the time being of the Chartered Institute of Arbitrators (UK) (Nigeria Branch) at the request of either Party to the dispute.</li>
                            <li> The Parties undertake to carry out the arbitration award without delay. Awards shall be final and binding on the Parties from the date they are made and judgment upon any arbitral award may be entered in any court having jurisdiction.</li>
                            <li> This clause shall not preclude either Party from obtaining interim relief on an urgent basis from a court of competent jurisdiction.</li>
                        </ol>

                    </div>
                </div>
                

            </div>
       </MudItem>
   </MudGrid>

</MudContainer>




<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<Footer />



@code {

    DateTime newDate = new DateTime(2025, 4, 8);
}
