@page "/users-and-accounts"

<div id="site-intro">


    <br />

    <MudContainer Fixed="false" MaxWidth="MaxWidth.Large" >

            <span id="site-intro-header">Managing Your Users and Accounts </span>
            <br /><br />
            <div>
                <div id="site-intro-sub-header"> Interact with our platform, manage your profile, and enjoy secure a accounts.</div>
            </div>
            <br /><br />
            <MudButton Variant="Variant.Filled" FullWidth="false" Size="Size.Large" Color="Color.Error" Href="/accounts/signup"><b>Get Started</b></MudButton>
        
    </MudContainer>
</div>

<MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

    <MudGrid Spacing="7">


    <MudItem sm="12" md="12" lg="4">

            <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineOrientation="TimelineOrientation.Horizontal" Modifiers="true">
                <MudTimelineItem Size="Size.Medium" Color="Color.Error" Elevation="0">
                    <MudCard Outlined="true" Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.h5" Style="font-family:'Akaya Telivigala'; color:#57375c"><b>Access and Permissions</b></MudText>
                            <br />
                            <MudText Typo="Typo.body2" Style="line-height:30px">Access and Permissions ensure you have the appropriate level of control and security within our platform. By implementing role-based access control, our system grants you permissions based on your role and responsibilities.</MudText>
                           
                        </MudCardContent>
                    </MudCard>
                </MudTimelineItem>
            </MudTimeline>
       
    </MudItem>


        <MudItem sm="12" md="12" lg="4">

            <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineOrientation="TimelineOrientation.Horizontal" Modifiers="true">
                <MudTimelineItem Size="Size.Medium" Color="Color.Error" Elevation="0">
                    <MudCard Outlined="true" Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.h5" Style="font-family:'Akaya Telivigala'; color:#57375c"><b>Profile Management</b></MudText>
                            <br />
                            <MudText Typo="Typo.body2" Style="line-height:30px">Profile Management allows users to update and maintain their personal information, ensuring a personalized and secure experience on the platform. Users can modify their details, manage linked accounts, and configure settings to suit their preferences.</MudText>

                        </MudCardContent>
                    </MudCard>
                </MudTimelineItem>
            </MudTimeline>

        </MudItem>

        <MudItem sm="12" md="12" lg="4">

            <MudTimeline TimelinePosition="TimelinePosition.Start" TimelineOrientation="TimelineOrientation.Horizontal" Modifiers="true">
                <MudTimelineItem Size="Size.Medium" Color="Color.Error" Elevation="0">
                    <MudCard Outlined="true" Elevation="25">
                        <MudCardContent>
                            <MudText Typo="Typo.h5" Style="font-family:'Akaya Telivigala'; color:#57375c"><b>User Management</b></MudText>
                            <br />
                            <MudText Typo="Typo.body2" Style="line-height:30px">User Management provides you with the tools to create, manage, and monitor user accounts. It ensures that users have appropriate access while maintaining security, efficiency, and compliance standards, while restricting access to sensitive data.</MudText>

                        </MudCardContent>
                    </MudCard>
                </MudTimelineItem>
            </MudTimeline>

        </MudItem>


</MudGrid>

</MudContainer>




<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<Footer />



@code {

}
