<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    
    <meta name="title" content="IVS Events | Create & Manage Events, Buy and Sell Tickets Online">
    <meta name="description" content="Effortlessly create and manage events of all kinds – from concerts and conferences to workshops. Buy and sell tickets with ease on IVS Events, your go-to platform for discovering amazing upcoming events.">
    <meta name="keywords" content="event platform, ivs social, event management, ticketing, buy tickets, sell tickets, create events, host events, upcoming events, concerts, conferences, workshops, IVS Events">

    <!-- Author -->
    <meta name="author" content="IVS Social Ltd">

    <!-- Call to Action for Search Engines -->
    <meta name="robots" content="index, follow">
    <link rel="signup" href="https://www.ivs.social/accounts/signup" />
    <meta name="signup" content="https://www.ivs.social/accounts/signup">


    <!-- Open Graph / Facebook / LinkedIn -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ivs.social">
    <meta property="og:title" content="Create & Manage Events | Buy and Sell Tickets Online | IVS Events">
    <meta property="og:description" content="Whether you're planning a concert, conference, or workshop, IVS Events provides tools to streamline your planning, ticketing, and promotion.">
    <meta property="og:image" content="https://www.ivs.social/images/logos/ivs3.png">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://www.ivs.social">
    <meta name="twitter:title" content="IVS Events | Plan Events & Sell Tickets Effortlessly">
    <meta name="twitter:description" content="Create events, customize ticketing, and give your attendees a smooth, secure experience. Discover amazing events happening near you.">
    <meta name="twitter:image" content="https://www.ivs.social/images/logos/ivs3.png">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.ivs.social">  
    
    <!-- Sign Up Link (HTML discovery) -->
    <link rel="alternate" href="https://www.ivs.social/accounts/signup" title="Sign up for IVS Social">
    
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="vdBQsW4M1Fcq8xa8e-d8S5iQGJP0jTA8BmN8Nr6qIzA" />
    <base href="/" />
    <link rel="icon" type="image/png" href="/images/logos/ivs3.png" sizes="32x32">

    <meta name="description" content="">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="/css/app.css?version=0.1" rel="stylesheet" />
    <link href="/css/app-media.css" rel="stylesheet" />
    
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(false)" />
</head>

<body>
<Routes @rendermode="new InteractiveServerRenderMode(false)" />


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LQK7DVT6WR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LQK7DVT6WR');
</script>


<script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="/js/eventpanel.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d2cbc29c68.js" crossorigin="anonymous"></script>

    <script>
        
        function reloadPage() {
            location.reload();
        }
        
        async function shareContent(title, text, url) {
            if (navigator.share) {
                try {
                    await navigator.share({ title, text, url });
                    console.log('Content shared successfully');
                } catch (error) {
                    console.error('Error sharing content:', error);
                }
            } else {
                alert('Sharing is not supported in this browser.');
            }
        }

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(() => {
                console.log('Text copied to clipboard');
            }).catch(err => {
                console.error('Could not copy text: ', err);
            });
        }
        
    </script>
    
    
    </body>
</html>
