/*
	This CSS file matches the color scheme from MudBlazor to Bootstrap when utilized for authentication.
	The file remains available at all times for demonstration purposes,
	but it is exclusively employed in the 'App.razor' component when authentication is enabled.
*/

.btn-primary {
    text-transform: uppercase;
    --bs-btn-bg: var(--mud-palette-primary) !important;
    --bs-btn-hover-bg: var(--mud-palette-primary-darken) !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--mud-palette-primary) !important;
}

.nav {
    --bs-nav-link-color: var(--mud-palette-primary) !important;
    --bs-nav-link-hover-color: var(--mud-palette-primary-darken) !important;
}

#HomeTitle {
    font-size: 5.7rem;
    line-height: 1.4;
    font-weight: 600;
    /*color: #011b33;*/
    text-align: left;
    height: 400px;
    align-content: center;
    font-family: "Akaya Telivigala", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #56375C
}


#logoTitle {
    font-family: "Akaya Telivigala", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size: 2.7rem;
    letter-spacing: 3px;
    color: #56375C
}

    #logoTitle > a {
        color: #56375C
    }


    #titleOne, #titleFour {
        color: #e18501f7
    }

#homeSubTitle {
    font-size: 1.2rem;
    line-height: 30px;
    font-family: Roboto;
    margin-top: 25px;
    font-weight: 600;
    color: #56375C
}


#btnDarkColor {
    background-color: #56375C;
    color: white;
    height: 50px;
    text-transform: none;
    font-weight: bolder;
}

#btnBrightColor {
    color: #e18501f7;
    height: 50px;
    text-transform: none;
    font-weight: bolder;
}

#reg-title {
    font-family: "Akaya Telivigala";
    font-weight: 600;
    font-size: 2em;
    color: #56375C;
}


#reg-sub-title {
    font-weight: 500;
}

#sub-title-2{
    margin-top:10px;
    font-size :16px;
}

#sub-title-2{
    margin-top: 10px;
    font-size: 16px;
    font-weight:500;
}

#txt-activate-account-input{
    font-weight : bold;
    font-size: 20px;
    letter-spacing : 30px;
    text-align:center;
}

#login-title {
    font-family: "Akaya Telivigala", system-ui;
    font-weight: bold;
    font-size: 30px;
    color: #e18501f7;
    text-align: center;
}


#login-sub-title{
    font-size:14px;
    font-weight:400;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


#login-middle-title {
    font-family: "Akaya Telivigala", system-ui;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #56375C;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

#transparent-image {
    height: 600px;
    background-color: #f3dff6;
}


.login-container {
    width: 55%;
    height: auto; /* You can adjust this as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
    align-content: center;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
    padding: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}