@page "/"
@page "/home"

<PageTitle>Iv's - Home</PageTitle>
 <MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

<MudGrid>
    
    <MudItem xs="12">

        <div id="HomeTitle">
            <span id="titleOne">Create,
            </span> <span id="titleTwo">Share</span>  <br />
            <span id="titleThree">Unforgettable </span>  <span id="titleFour">Moments.</span>
            <br />
            <div id="homeSubTitle">
                <span> Effortlessly create and share your events.<br /> Bring your vision to life and invite others to join in the excitement.</span>
            </div>
        </div>

        <div id="homeButtons">

            <MudButton Variant="Variant.Outlined" Color="Color.Warning" Size="Size.Large" Href="/" id="btnBrightColor">See up coming events</MudButton>
            &nbsp;&nbsp;

                <AuthorizeView>
                    <NotAuthorized>
                        <MudButton Variant="Variant.Filled" id="btnDarkColor" Href="/accounts/signup" Size="Size.Large">
                            Create Your Event
                        </MudButton>
                    </NotAuthorized>
                    <Authorized>
                        <MudButton Variant="Variant.Filled" id="btnDarkColor" Href="/events/create-event" Size="Size.Large">
                            Create Your Event
                        </MudButton>
                    </Authorized>
                </AuthorizeView>

        </div>

    </MudItem>
   
    
</MudGrid>

</MudContainer>



<br /><br /><br />


<MudPaper Style="background:#F3DFF6">

    

</MudPaper>





