@page "/"
@page "/home"

<PageTitle>Iv's - Home</PageTitle>
<MudContainer Fixed="false" MaxWidth="MaxWidth.Large" Style="background-color:white">
    <br /><br />
<MudGrid>
    
    <MudItem xs="12">

        <div id="HomeTitle">
            <span id="titleOne">Create,
            </span> <span id="titleTwo">Share</span>  <br />
            <span id="titleThree">Unforgettable </span>  <span id="titleFour">Moments.</span>
            <br />
            <div id="homeSubTitle">
                <span> Effortlessly create and share your events.<br /> Bring your vision to life and invite others to join in the excitement.</span>
            </div>
        </div>

        <div id="homeButtons">

                <MudButton Variant="Variant.Outlined" Size="Size.Small" Href="/events/discovery" id="btnDarkColor">Find an event</MudButton>
            &nbsp;&nbsp;
            <MudButton Variant="Variant.Filled" id="btnDarkColor" Href="/events/create-event" Size="Size.Small">
                Create event
            </MudButton>

        </div>

    </MudItem>
   
    
</MudGrid>

</MudContainer>



<br /><br /><br />


<MudPaper Style="background:#F3DFF6">

    

</MudPaper>





