@page "/orders/verify-payment"

<PageTitle>Iv's - Payment Status</PageTitle>


<MudContainer>

    <br />

    <center>
        <MudPaper Elevation="0" Outlined="false" MaxWidth="650px" Square="false" Class="ma-2 pa-10">

            @if (_processing)
            {
                <div>
                    <div id="reg-title">Confirming Payment.</div>
                    <br />
                    <div style="text-align:center">
                        <MudProgressCircular Color="Color.Secondary" Style="height:40px;width:40px;" Indeterminate="true" />
                    </div>
                    <br />
                    Please wait....
                    <br /><br />
                    <MudIcon Icon="@Icons.Material.Filled.PendingActions" Size="Size.Large" Style="height:70px;width:70px;" Color="Color.Primary"></MudIcon>
                    <br />
                    <br />
                    <h3>
                        Order ID <br />
                        @trxref
                    </h3>
                    <br />
                    <div style="font-size:medium">Payment processing. Don't close this page till you get confirmation.</div>
                </div>
            }
            else
            {
                if (_isSuccessful == "successful")
                {
                    <div style="">
                        <div id="reg-title">Payment Successful.</div>
                        <br />
                        <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Size="Size.Medium" Style="height:70px;width:70px;" Color="Color.Success"></MudIcon>
                        <br /><br />
                        <h4>
                            Order ID <br />
                            @trxref
                        </h4>
                        <br />
                        <div style="font-size:15px; line-height:30px"> Thank you for your purchase!</div>
                        <br/>
                        <br/>
                        <MudButton Href="/events/discovery" Color="Color.Secondary" Variant="Variant.Filled" ButtonType="ButtonType.Button"> Explore events </MudButton>
                    </div>
                }
                else if (_isSuccessful == "failed")
                {
                    <div>
                        <div id="reg-title">Payment Failed.</div>
                        <br />
                        <MudIcon Icon="@Icons.Material.Filled.Cancel" Size="Size.Large" Style="height:70px;width:70px;" Color="Color.Error"></MudIcon>
                        <br />
                        <br />
                        <h3>
                            Order ID <br />
                            @trxref
                        </h3>
                        <br />
                        <div style="font-size:medium">Sorry... Payment failed!</div>
                        
                        <br />
                        <br />
                        
                        <MudButton Href="/events/discovery" Color="Color.Secondary" Variant="Variant.Filled" ButtonType="ButtonType.Button"> Explore events </MudButton>

                    </div>

                }
                else
                {
                    <div>
                        <div id="reg-title">Payment Pending.</div>
                        <br />
                        <div style="text-align:center">
                            <MudProgressCircular Color="Color.Secondary" Style="height:40px;width:40px;" Indeterminate="true" />
                        </div>
                        <br />
                        Please wait....
                        <br /><br />
                        <MudIcon Icon="@Icons.Material.Filled.PendingActions" Size="Size.Large" Style="height:70px;width:70px;" Color="Color.Primary"></MudIcon>
                        <br />
                        <br />
                        <h3>
                            Order ID <br />
                            @trxref
                        </h3>
                        <br />
                        <div style="font-size:medium">Payment pending. Do not close this page till you get confirmation or you get your ticket via email.</div>
                    </div>
                }
            }

        </MudPaper>
    </center>
</MudContainer>


@code {

    [Inject] IPaymentService? _paymentService { get; set; }
    [Inject] ISnackbar? _snackbar { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "type")]
    public string? type { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "trxref")]
    public string? trxref { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "reference")]
    public string? reference { get; set; }

    public bool _processing { get; set; } = false;
    public string _isSuccessful { get; set; } = "pending";

    protected async override void OnInitialized()
    {
        _processing = true;

        if (!string.IsNullOrWhiteSpace(type))
        {
            _isSuccessful = "successful";
        }
        else
        {
            var queryParams = new Dictionary<string, string?>();
            queryParams.Add("trxref", trxref);
            queryParams.Add("reference", reference);

            if (string.IsNullOrEmpty(reference) || string.IsNullOrEmpty(trxref))
            {
                _isSuccessful = "failed";
            }
            else
            {
                var res = await _paymentService.VerifyPayment(queryParams);

                if (res.result.code == ResponseCodes.ResponseCodeOk && res.result.success == true)
                {
                    _isSuccessful = "successful";
                }
                else
                {
                    _isSuccessful = "pending";
                    _snackbar.Add(res.result.message, Severity.Info);
                }
            }
        }
        _processing = false;
        StateHasChanged();
    }
}
